<!DOCTYPE html>
<html>
<head>
  <title>LeakAlert</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header style="height: 50px;"><img id="sflogo" src="https://static1.st8fm.com/en_US/b2c_dvts/homepage/css/img/core/navigation/primary-nav-logo.png"></img></header>
<%= yield %>

</body>
</html>
